<% if (project && student) { %>
<div class="project init">
  <div class="headline">
    <h2><a href="/students/<%= student.id %>/<%= project.slug %>"><%= student.name %></a>&thinsp;&mdash;&thinsp;<span class="bold"><%= project.title %></span></h2>
  </div>
  <div class="gallery">
    <% if (project.gallery && project.gallery.length > 0) { %>
      <% const firstImg = project.gallery.find(g => g.type === 'image') || project.gallery[0]; %>
      <img class="gallery" src="<%= firstImg.url %>" alt="<%= firstImg.name || 'project image' %>">
    <% } else { %>
      <img class="gallery" src="<%= project.thumbUrl %>" alt="<%= project.title %>">
    <% } %>
  </div>
</div>
<% } %>

