<%- include('partials/header') %>

<main class="fixed">
  <section id="one" class="left" aria-expanded="true">
    <div class="semesters">
      <% semesters.forEach(function(semester) { %>
        <a class="semester block <%= semester.isEmpty ? 'empty' : '' %>" href="/projects/<%= semester.id %>">
          <h2 class="bold"><%= semester.title %></h2>
          <h3><%= semester.term %></h3>
        </a>
      <% }); %>
    </div>
  </section>
  <section id="two" class="right" aria-expanded="false">
    <% if (initialProject && initialStudent) { %>
      <%- include('partials/reload_container', { project: initialProject, student: initialStudent }) %>
    <% } else { %>
      <div class="project init">
        <div class="gallery">
          <video class="gallery" autoplay loop muted playsinline style="width: 100%; border: none;">
            <source src="/assets/video/brand.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    <% } %>
  </section>
</main>

<%- include('partials/footer') %>
